body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.main-header {
  background-image: url(imagenes/alimentos.jpg); /* ruta de tu imagen */
  background-size: cover;       /* la imagen cubre todo el header */
  background-position: center;  /* centrada */
  background-repeat: no-repeat; /* no se repite */
  padding: 10px 10px;           /* espacio interno */
  text-align: center;           /* centra título */
  position: relative;           /* útil si agregas elementos encima */
}

.main-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* negro semi-transparente */
  z-index: 0;
}

.main-header h1,
.main-header .header-top {
  position: relative;
  z-index: 1; /* hace que el texto esté encima del overlay */
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
  
}

.logo{
    width: 80px;
    background-color: rgba(255, 255, 255, 0.7); /* fondo blanco semitransparente */
    padding: 0 2px;   /* espacio alrededor del logo */
    border-radius: 100px;  /* opcional, esquinas redondeadas */

}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: small;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav ul li a:hover {
  color: #b5c934; /* verde más claro al pasar el ratón */
}

.titulo{
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.977);
    text-align: center;
    font-style: oblique;
}

h1{
    font-size: 130%;
    padding: 5px;
    margin: 1px;
}

p{
    font-size: 15px;
    color: #0b0002;
}

section{
    padding: 15px;
}


.tabla-alimentos {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
}

.tabla-alimentos th, .tabla-alimentos td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.tabla-alimentos th {
  background-color: rgb(145, 159, 110);
  color: #fff;
  font-weight: 600;
}

.tabla-alimentos tbody tr:hover {
  background-color: hsl(156, 15%, 85%);
}

.permitido {
  color: #3A7D44; /* verde */
  font-weight: 600;
}

.prohibido {
  color: #B00020; /* rojo */
  font-weight: 600;
}

footer {
  background-color: #555a45;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between; /* separa izquierda y derecha */
  align-items: center;            /* centra verticalmente */
  color: white;
}

.copy {
  margin: 0;
  font-size: 0.9rem;
  color: #ecebe3;
}

.socials a {
  color: white;
  font-size: 24px;
  margin: 0 20px;
  transition: transform 0.3s, color 0.3s;
}

.socials a:hover {
  transform: scale(1.2);
  color: #b8930b;
}
